.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    padding: 20px 75px;
}

.navbar a {
    color: aliceblue !important;
    text-decoration: none;
}